.single-blog-section{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: black;
    color: gray;
    padding-top: 30px;
}
.single-blog{
    text-align: center;
    margin-bottom: 10px;
}
.single-blog-img{
    width: 400px;
}
.single-blog-detail{
    width: 50%;
    margin: 10px auto;
}
 /* media query */
 @media only screen and (max-width: 600px){
      .single-blog-detail{
          width: 100%;
      }
}