.footer{
    display: flex;
    padding: 70px 40px;
    background-color: #222222;
    color: white;
}

.about{
    width: 35%;
    margin-right: 50px;
}
.about h4, .feature h4, .contact h4{
   font-weight: bold;
}
.feature{
    width: 30%;
    margin-right: 40px;
}
.contact{
    width: 35%;
}

.brand-icon{
    margin-top: 20px;
    margin-right: 25px;
    font-size: 20px;
    color: rgb(189, 189, 4);
}

@media only screen and (max-width: 600px){
    .footer{
        flex-direction: column;
    }
    .about{
        width: 100%;
        margin-right: 0;
    }
    .about h4{
        text-align: center;
    }
    .feature{
        display: none;
    }
    
    .contact{
        width: 100%;
        text-align: center;
        margin-top: 35px;
    }
    
}