.logo{
    font-weight: bolder;
    letter-spacing: 7px;
    color: rgb(189, 189, 4);
}
nav{
    /* border: 1px solid red; */
    width: 100%;
    color: white;
    text-align: center;
    position: absolute;
    margin-top: 30px;
    z-index: 44;
}

.ul{
    display: flex;
    /* border: 1px solid blue; */
    padding: 8px;
    justify-content: center;
}

.ul li{
    list-style: none;
    line-height: 30px;
}

.ul li a{
    text-decoration: none;
    font-size: 20px;
    margin-left: 30px;
    color: white;
    font-weight: 300;
}
.ul li a:hover{
    color: rgb(189, 189, 4);
}
/* media query */
@media only screen and (max-width: 600px){
    .ul li a{
        margin-left: 10px;
    }
}