.blog-post-section{
    background-color: black;
    padding: 30px 20px;
    /* border: 1px solid red; */

}
.blog-title{
    text-align: center;
}
.blog-posts{
    display: flex;
}


.blog{
    width: 100%;
    margin-left: 60px;
    margin-top: 100px;
    color: gray;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.blog-img img{
    width: 350px;
    height: 380px;
    object-fit: cover;
    transition: all .90s ease-in;
}

.blog:hover .blog-img{
    animation-name: fadeInUp;
    animation-duration: 1.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeInUp {
    from {transform: scale(1, 1) ;}
    to {transform: scale(1.2, 1.2)}
  }

.blog-detail{
    margin-top: 35px;
}

.blog-link{
    text-decoration: none;
    color: gray;
}
.blog-link:hover{
    color: gray;
}

/* media query */
@media only screen and (max-width: 600px){
    .blog-posts{
        flex-direction: column;
    }
    .blog{
        width: 100%;
        margin-left: 0;
    }
    .blog-img img{
        width: 300px;
        
    }
}